
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

@*<div>
    <div>
        <form method="post" action="https://pguat.paytm.com/oltp-web/processTransaction">
            <div>
                <input type="text" name="REQUEST_TYPE" value="Default" />
            </div>
            <div>
                <input type="text" name="MID" value="PiScho94182826905052" />
            </div>
            <div>
                <input type="text" name="ORDER_ID" value="ord@(new Guid())" />
            </div>
            <div>
                <input type="text" name="CUST_ID" value="123" />
            </div>
            <div>
                <input type="text" name="TXN_AMOUNT" value="32" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="INDUSTRY_TYPE_ID" value="Retail" />
            </div>
            <div>
                <input type="text" name="WEBSITE" value="WEB_STAGING" />
            </div>
            <div>
                <input type="text" name="CHECKSUMHASH" value="Web" />
            </div>
            <div>
                <input type="text" name="MOBILE_NO" value="7777777777" />
            </div>
            <div>
                <input type="text" name="EMAIL" value="savinsindhu@yahoo.com" />
            </div>
            @*<div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>
            <div>
                <input type="text" name="CHANNEL_ID" value="Web" />
            </div>

        </form>
            
        
    </div>
</div>*@