<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="info@physicssimplified.com"/>
    <add key="Password" value="abirbeta1305"/>

    <!--Owner user Credentials-->

    <add key="Api_Key" value="hgAbio4nTOWVBBkvp8arWA"/>
    <add key="Api_Secret" value="qeH6cIruBU0CIigyhKMaf8pFE4HfRDUbq3Fw"/>
    <add key="Api_token" value="Ug25gY0VW54S4LnZnYW4yecW0OyBa6PTn2Rq"/>
    <add key="EndPoint" value="https://api.zoom.us/v1/"/>
  </appSettings>
</configuration>